.thumbnail-header {
    height: 45px;
    width: 100%;
    background-color: #242424;
    position: relative;
    align-items: center; /* Căn giữa theo chiều dọc */
    justify-content: center;
    
}
.left-thumbnail ,.thumbnail-link{
    display: flex;
    align-items: center;
}
.left-thumbnail {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    gap: 50px;
    left: 20px;
}
.thumbnail-link {
    gap: 5px;
    font-size: 13px;
    align-items: center;
}
.title-thumnail-main h1 {
    font-size: 17px;
}
.title-thumnail-main ,.thumbnail-link .first-item-thum {
    color: aliceblue;
}
.thumbnail-link .order-item-thum {
    color: #0D99FF;
}
.right-thumbnail {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    color: aliceblue;
    font-size: 13px;
}
.line-top{
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #444444;
}
/* First total detail data */
.row {
    margin-bottom: 30px;
    width: 100%;
    display: flex;
}
.col-7 {
    height: 600px;
    width: 100%;
    
}
.col-3 {
    height: 600px;
    width: 100%;
    
}
.col-for-4-item{
    padding: 10px;
    width: 100%;
    height: 150px;
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
}
.total-data{
    position: relative;
    background-color: #242424;
    width: 280px;
    height: 100%;
    border: solid 1px #444444;
    border-radius: 5px;
    
}
.total-earn{
    width: 390px;
    height: 600px;
    border: solid 1px #444444;
    border-radius: 5px;
        margin: 10px;
}
.chart-view-total-data{
    position: absolute;
    width: 100%;
    bottom: 0;
}
.information-total-data {
    position: relative;
    width: 100%;
    height: 100px;
}
.icon-total-data{
    position: absolute;
    top: 20%;
    right: 10%;

}
.total-money-data{
    position: absolute;
    top: 20%;
    left: 10%;
    font-size: 15.01px;
    color: #FFFFFF;
    
}
.total-money-data .show-total-money{
    font-size: 24px;
    font-weight: 600;
    padding-top: 5px;
    
}
.body-task-progress {
    padding: 10px;
    color: #828690;
    font-size: 14px;
}
.task-progress{
    display: flex;
    position: relative;
}


progress {
    border: 0;
    height: 7px;
    border-radius: 20px;
    color: #0D99FF;

}
progress::-moz-progress-bar {
    border: 0;
    height: 7px;
    border-radius: 20px;
    background: #0D99FF;
}

progress::-webkit-progress-value {
    border: 0;
    height: 7px;
    border-radius: 20px;
    background: #0D99FF;
}

progress::-webkit-progress-bar {
    border: 0;
    height: 7px;
    border-radius: 20px;
    background: #E6EAEE;
}
.count-task-progress {
    position: absolute;
    right: 0;
}
.infomation-data-chart{
    display: flex;
}
.chart-cricle{
    width: 120px;
    padding-left: 20px;
    padding-top: 15px;
}
.information-chart-cricle{
    position: relative;
    width: 100%;
}
.infocct{
    position: absolute;
    left: 0;
    top: 20%;
}
.title-chart{
    font-size: 15px;
    color: #FFFFFF;
    font-weight: 550;
    margin-bottom: 10px;
}

.item-chart-cri li {
    display: flex;
    margin-bottom: 5px;
    list-style: none;
    color: #828690;
    font-weight: 400;
    font-size: 13px;
    
}
.item-chart-cri li:nth-child(3){
    padding-left: 10px;
}
/* PROJECT OVERVIEW */
.col-for-2-item{
    display: flex;
}
.project-overview{
    position: relative;
    width: 790px;
    border: solid 1px #444444;
    height: 450px;
    border-radius: 5px;
    margin-left: 10px;
}
.to-do-item{
    width: 380px;
    border: solid 1px #444444;
    height: 450px;
    border-radius: 5px;
    margin-left: 10px;
}
.top-project-overview{
    position: relative;
    width: 100%;
    display: flex;
    height: 50px;
}
.top-project-overview h4 {
    position: absolute;
    left: 10px;
    bottom: 10px;
    font-family: Poppins;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

}
.list-button-top{
    display: flex;
    gap: 10px;
    position: absolute;
    right: 20px;
    bottom: 0;
}
.list-button-top  .action-button-chart {
    background-color: #0D99FF !important;
}
.list-button-top button {
    width: 70.89px;
    height: 29.5px;
    padding: 5px, 14.89px, 4.5px, 15px;
    border-radius: 4px;
    background-color: #444444;
    color: #FFFFFF;
    font-size: 13px;
}
.mid-project-overview {
    padding: 10px;
    width: 100%;
    height: 300px;
}
#Chart-overview{
    width: 100%;
    height: 300px;
   
}

.bottom-project-overview{
    display: flex;
    width: 100%;
    height: 76px;
    border-radius: 15px;
    position: absolute;
    bottom: 0;

}
.data-overview-bottom{
    padding: 10px;
    width: 25%;
    height: 76px;
    border: solid 1px #444444;
    text-align: center;
    
}
.data-overview-bottom span {
    color: #828690;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    
}
.data-overview-bottom h4{
    margin-top: 5px;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    
}
.bottom-project-overview div:nth-child(1){
    border-radius: 0 0 0 5px;
}
.bottom-project-overview div:nth-child(2){
    border-radius: 0 0 0 0;
}
.bottom-project-overview div:nth-child(3){
    border-radius: 0 0 0 0;

}
.bottom-project-overview div:nth-child(4){
    border-radius: 0 0 5px 0;

}
/*  */
.to-do-item{
    position: relative;
    height: 450px;
}
.text-right-todo h5{
    position: absolute;
    color: #FFFFFF;
    right: 10px;
    bottom: 10px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    
}
.manager-todo{
    height: 100%;
}

.title-item {
    margin-top: 15px;
    padding-left: 15px;
    display: flex;
    gap: 10px;
}
.title-item p {
font-size: 14px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
text-align: left;

}
.main-item {
    padding: 18px;
}
.main-item ,.info-item-todo .infor-item{
    display: flex;
    gap: 10px;
}
.list-button button {
    width: 28px;
    height: 28px;
}

.info-item-todo .infor-item p{
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 10px;
}
.info-item-todo .infor-item input[type="checkbox"] {
    width: 20px;
    height: 20px;
    background: #1E1E1E !important;
    border: 1px solid #444444;
}

.info-item-todo .date-item p{
    color: #828690;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;

}
.line {
    height: 1px;
    width: 100%;
    position: relative;
    background-color: #444444;
    left: 0;
}
.total-earn .title-total-earn h4{
    padding-top: 20px;
    padding-left: 20px;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;

}
.total-earn .main-total-earn{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.main-total-earn {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-total-earn h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 38px;
    font-weight: 600;
    color: #FFFFFF;
}


.earn-options ul {
    display: flex;
    padding: 0;
    list-style-type: none;
    gap: 10px;
}
.earn-options ui li{
    position: relative;
    
}
.main-total-earn .earn-options ul>li>button {
    padding: 10px;
    color: #888888;
}
.earn-options .action-earn {
    color: #FFFFFF !important;
    

}
.earn-options ul li .action-line{
    width: 100%;
    height: 3px;
    background-color: #0D99FF;
}


.chart-total-earn {
    width: 100%;
    height: 420px;
}
/* ROW SECOND */
.col-50{
    width: 800px;
    height: 400px;
}
.col-50 .inside-col-50{
    position: relative;
    border: solid 1px #444444;
    width: 790px;    
    height: 100%;
    margin-left: 10px;
    border-radius:5px;
}

.inside-col-50 .title h4,.inside-col-50 .title p {
    position: absolute;
    top: 20px;
}
.inside-col-50 .title h4{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
    left: 20px;

}
.inside-col-50 .title p{
    right: 10px;
    font-size: 13px;
    font-weight: 400;
    color: #0D99FF;
    gap: 2px;
}
#usersTable {
    margin-top: 60px;
    width: 100%;
}
#usersTable .top-table {
    background-color: #1E1E1E;
    position: relative;
}
#usersTable .top-table::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #1E1E1E;
    left: 0;
    z-index: -1;
}
th {
    padding: 10px 20px 10px 20px;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 500;
    text-align: left;

}
td{
    align-items: center;
    padding: 10px 10px 10px 20px;
    color: #FFFFFF;
    font-size: 11px;
    font-weight: 300;
    
}
#user-name {
    display: flex;
}
td img{
    margin-right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.list-user {
    display: flex;
    position: relative;

}
.list-user li img{
    border: solid 3px #888888;
}
.list-user li {
    margin-left: -10px;
    
}
td button {
    font-weight: 500;
    border-radius: 5px;
    padding: 10px 15px 10px 15px;
    font-size: 12px;

}
td .defalt {
    background-color: #1E1E1E;
    color: #0D99FF;
}
td .pending {
    background: rgba(255, 94, 94, 0.15);
    color: #FF5E5E;
}
td .completed {
    background: rgba(58, 201, 119, 0.1);
    color: #3AC977;
}
.pagi {
    position: relative;
}
.pagination {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 10px;
    
  }
  
  .pagination a {
    color: #0D99FF;
    float: left;
    padding: 5px 8px;
    text-decoration: none;
    margin-right: 5px;
  }
  
  .pagination a.active-page {
    background-color: #0D99FF;
    color: white;
    border-radius: 5px;
  }
  
  .pagination a:hover:not(.active-page) {
    background-color: #ddd;
    border-radius: 5px;
  }
  .pagination a img{
    margin-right: unset !important;
    height: 13px;
    width: 7px;
    border-radius: unset !important;

  }

  .progress-table{
    height: 5px;
  }

  .error::-webkit-progress-value {
    height: 2px;
    background: red;
}
.progress-table::-webkit-progress-bar {
    height: 5px;
    width: 62px;
    border: 0;

    background: #1E1E1E;
}

.progress-table::-moz-progress-bar {
    height: 5px;
    border: 0;

}
.succes::-webkit-progress-value{
    height: 2px;
    background: #3AC977;
}

.progress{
    padding: unset;
}
/* MAP */
.map{
    position: absolute;
    padding: 5px;
    bottom: 0;
    width: 500px;
    height: 340px;
}
#mapdiv {
    
    width: 100%;
    height: 100%;
  }
/* END MAP */
.country {
    position: absolute;
    width: 290px;
    height: 400px                                                                       ;
    right: 0;
    top: 0;
}
.country .line{
    height: 100%;
    width: 1px;

}
.data-country img{
    width: 30px;
    height: 30.19px;
}
.body-data-country {
    position: absolute;
    top: 40px;
    left: 10px;
}
.data-country{
    display: flex;
    margin-bottom: 10px;
}
.info-country {
    padding-left: 10px;
}
.name-country {
    position: relative;
    display: flex;
    color: #828690;
}
.name-country  p {
    position: absolute;
    right: 0;
}
.info-country .progress-country {
    padding-bottom: 10px;
}
/* COUNTRY */
.progress-country::-webkit-progress-value {
    height: 2px;
    background: #0D99FF;
}
.progress-table::-webkit-progress-bar {
    height: 5px;
    width: 100%;
    border: 0;

    background: #1E1E1E;
}