    .chatbox {
        position: relative;
        width: 530px;
        height: 615px;
        border: solid 1px #444444;
        border-radius: 5px;
    }
    .chatbox .top-chatbox {
        position: relative;
        height: 68px;
        width: 100%;
        display: flex;
        

    }
    .chatbox .top-chatbox .title-chat {
        padding: 20px;
        font-size: 16px;
        font-weight: 500;
        color: #FFFFFF;
    }

    .product-table {
        width: 660px;
        height: 615px;
        border: solid 1px #444444;
        border-radius: 5px;
        position: relative;
    }
    .product-table .title h4,.product-table .title p {
        position: absolute;
        top: 20px;
    }
    .product-table .title h4{
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFF;
        left: 20px;
    
    }
    .product-table .title p{
        right: 10px;
        font-size: 13px;
        font-weight: 400;
        color: #0D99FF;
        gap: 2px;
    }
    .product {
        margin-top: 50px;
        width: 100%;
    }
    .product-img img{
        width: 100px;
        height: 100px;
        border-radius: 5px;
    }